extend layout
block imports
    script(src="/js/jquery.min.js")
    script(src="/js/login.js")
block content
    .container.content
        .row
            .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0
                img.img-responsive.center-block.m-t-3(src="/img/logo.png")
        .row
            .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0
                h1.page-header #{__("Connection")}
        .row
            .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0
                each error in errors
                    .error
                        div #{error}
                form(role="form", action="/login", method="post")
                    .form-group
                        label(for="code")
                            | #{__("Code")}
                        #code-input
                            input.form-control(id="code", name="code", type="text")
                            a(href="/api/v1/displayOverlay") Afficher le code à l'écran
                    .form-group
                        label(for="username")
                            | #{__("Username")}
                        input.form-control(id="username", name="username", type="text")
                    button.btn.btn-default(type="submit")
                        | #{__("Sign in")}
