.tile-syna-info
    img.logo(src='assets/img/logo.png')
    .centered
        center
            img.mascotte(src='assets/img/mascotte.png')
        .panel.panel-primary
            .panel-heading
                h3.panel-title #{__("Connection")}
            .panel-body
                p
                    | #{__("Connect at one of the address below")}
                ul.list-group
                    each ip in ips
                        li.list-group-item= ip
                p.code-p #{__("Connection code")} 
                    span.code(type='button') #{code}
